In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [28]:
df_A = pd.read_csv("Datasets\df_A.csv")
df_B = pd.read_csv("Datasets\df_B.csv")

In [29]:
# List of DataFrame names for location_A
df_names_A = [
    "A1_df", "A2_df", "A3_df", "A5_df", "A12_df", "A19_df", "A20_df", 
    "A23_df", "A24_df", "A25_df", "A26_df", "A27_df", "A28_df", 
    "A32_df", "A34_df", "A36_df", "A37_df", "A39_df", "A42_df", 
    "A43_df", "A44_df", "A45_df"
]

# Dictionary to store the imported DataFrames
location_A = {}

# Load each CSV file into a DataFrame
for df_name in df_names_A:
    csv_filename = f"Datasets\{df_name}.csv"
    location_A[df_name] = pd.read_csv(csv_filename)

In [30]:
# List of DataFrame names for location_B
df_names_B = [
    "B4_df", "B6_df", "B8_df", "B9_df", "B10_df", "B11_df", "B13_df", 
    "B14_df", "B15_df", "B16_df", "B17_df", "B18_df", "B21_df", 
    "B29_df", "B30_df", "B31_df", "B33_df", "B35_df", "B38_df", 
    "B40_df", "B41_df"
]

# Dictionary to store the imported DataFrames
location_B = {}

# Load each CSV file into a DataFrame
for df_name in df_names_B:
    csv_filename = f"Datasets\{df_name}.csv"
    location_B[df_name] = pd.read_csv(csv_filename)

In [31]:
location_A['A1_df']

,DATE_TIME,DATE,TIME,DC_POWER,AC_POWER,DAILY_YIELD,DAILY_YIELD_diff,TOTAL_YIELD,TOTAL_YIELD_diff,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION
0,2020-05-15 00:00:00,2020-05-15,00:00:00,0.0,0.0,0.0,NaN,6259559.0,NaN,25.184316,22.857507,0.0
1,2020-05-15 00:15:00,2020-05-15,00:15:00,0.0,0.0,0.0,0.0,6259559.0,0.0,25.084589,22.761668,0.0
2,2020-05-15 00:30:00,2020-05-15,00:30:00,0.0,0.0,0.0,0.0,6259559.0,0.0,24.935753,22.592306,0.0
3,2020-05-15 00:45:00,2020-05-15,00:45:00,0.0,0.0,0.0,0.0,6259559.0,0.0,24.846130,22.360852,0.0
4,2020-05-15 01:00:00,2020-05-15,01:00:00,0.0,0.0,0.0,0.0,6259559.0,0.0,24.621525,22.165423,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3149,2020-06-17 22:45:00,2020-06-17,22:45:00,0.0,0.0,5521.0,0.0,6485319.0,0.0,22.150570,21.480377,0.0
3150,2020-06-17 23:00:00,2020-06-17,23:00:00,0.0,0.0,5521.0,0.0,6485319.0,0.0,22.129816,21.389024,0.0
3151,2020-06-17 23:15:00,2020-06-17,23:15:00,0.0,0.0,5521.0,0.0,6485319.0,0.0,22.008275,20.709211,0.0
3152,2020-06-17 23:30:00,2020-06-17,23:30:00,0.0,0.0,5521.0,0.0,6485319.0,0.0,21.969495,20.734963,0.0
3153,2020-06-17 23:45:00,2020-06-17,23:45:00,0.0,0.0,5521.0,0.0,6485319.0,0.0,21.909288,20.427972,0.0